@charset "UTF-8";
@media tv{
/*----------------------------------------------------------------------------
Pickles CSS (for TV)
version 0.4.3
Last Update: 2:00 2011/01/26
(C)Tomoya Koyanagi.
http://pickles.pxt.jp/
----------------------------------------------------------------------------*/

	/* ************************************** 基本設定(リセット) ************************************** */

	/* 基本文字サイズ */
	body,input,textarea,select,option,button{
		font-size:large; /* PxCSS 0.3.3 : xx-large → large */
	}

 	/* ************************************** Static Module ************************************** */

	/* (nothing) */

	/* ************************************** Parts Module ************************************** */

	/* -------------------------------------- テキストサイズ -------------------------------------- */
	.fstll	{font-size:36px; }
	.fstl	{font-size:28px; }
	.fst	{font-size:22px; }
	.fsts	{font-size:18px; }
	.fstss	{font-size:13px; }

	/* ************************************** Unit Module ************************************** */

	/* (nothing) */

}